

/* start: Global styles*/
// *{
//     width: fit-content;
// }
html, body{
    margin: 0;
    padding: 0;
    background: rgba(14, 13, 13, 0.04);
    background-size: cover;
    width: 100%;
    align-items: center;
    justify-content: center;
}
/* end: Global styles*/

.nav-menu {
    display: none;
}


/* start: header styles*/
header{
    background: linear-gradient(rgba(6, 113, 253, 0.7), rgba(28, 255, 255, 0.5)), url('images/car1.jpg');
    background-size: cover;
    margin: 0;
    height: 20vh;
    padding: 1em 0em 2em 0em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: sticky;
    z-index: 99;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;

    div {
        margin: 0em 0em 0em 0em;
        padding: 0em 0em 0em 0em;
        display: flex;
        gap: 10%;
    }

    .logo{
            display: flex;
            flex-direction: row;
            margin: 0em 0em 0em 1em;
            padding: 0em 0em 0em 0em;
            width: fit-content;
            
            img {
                border-radius: 20px;
                width: 100px;

            }
    
            h1{
                color: white;
                font-weight: 1000;
                font-size: 3em;
                span{
                    color: aqua;
                }
            }
    }
    nav{
        display: flex;
        flex-direction: column;
        gap: 1em;
        height: fit-content;
        align-items: center;
        justify-content: center;
        padding: 1em 0em 0em 0em;
        ul{
            float: right;
            margin: 0em 0.5em 0em 0em;
            display: flex;
            gap: 1em;
            height: fit-content;
            width: fit-content;
        
            li{
                list-style-type: none;
                background: transparentize($color: grey, $amount: 0.5);
                padding: 2px 1px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                font-style: italic;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 1.5rem;
                border-color: aqua;
                height: 1em;
                width: 6em;
                text-align: center;

                &:hover{
                        border-left: solid;
                        border-bottom: solid;
                        border-color: aqua;
                }

                a{
                    color: white;
                    text-decoration: none;
                }
                select {
                    width: 100%;
                    padding: 0px 1px;
                    border: none;
                    border-radius: 10px;
                    background: transparent;
                    color: white;
                    font-style: italic;
                    font-family: Georgia, 'Times New Roman', Times, serif;
                    font-size: 1.5rem;
                    margin: 0em 0em 0em 0em;
                    border-color: aqua;
                    height: 100%;
                    text-align: center;
                    
                    option {
                        color: black;
                        text-decoration: none;
                        font-size: 1.2rem;
                        font-weight: 400;
                        border-color: aqua;
                        margin: 0em 0em 0em 0em;
                        height: 1em;
                        width: 100%;
                        text-align: center;
                        padding: 5px;
                        &:hover {
                            background: rgba(0, 0, 255, 0.281);
                        }
                    }
                    .selected {
                        background: rgb(212, 212, 212);
                    }
                }
            }
        }

        .search-container {
                margin-top: 1em;
                text-align: center;
                background: rgb(248, 248, 248);
                padding: 0.5em;
                margin: 0em 0em 0em 0em;
                border-bottom-left-radius: 10px;
                border-top-left-radius: 10px;
                border-bottom-right-radius: 10px;
                border-bottom: solid;
                border-left: solid;
                border-color: aqua;
                width: fit-content;
                input {
                    width: 13cm;
                    height: 1cm;
                    margin-right: -cm;
                    border: none;
                    border-radius: 10px;
                }
        }
    }

    .toggle-nav-menu {
        display: none;
    }
    
}
/* end: header styles*/

/* start: main styles*/
    main{
        margin: 1em 0em 0em 0em;
        padding: 0em 0em 0em 0em;
        width: 100%;
        .wlc-sect{
            margin: 0em 0em 0em 0em;
            padding: 0em 0em 0em 0em;
            background-size: cover;
            width: 100%;
            height: 100vh;
            align-items: center;
            background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(images/car5.png) no-repeat center center;
            position: relative;
            animation: slideDown 3s ease-in-out;
            
            .wlc-vid{
                display: none;
            }
        
            &:hover{
                background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4));
                background-size: cover;
                .wlc-vid{
                    display: block;
                    width: inherit;
                    height: inherit;
                    position: absolute;
                    height: 100vh;
                    opacity: 1;
                    width: 100%;
                    z-index: -1;
                    
                }
    
                h2{
                    background-image: linear-gradient(to top, white, aquamarine);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    text-shadow: 4px 4px 4px rgba(245, 245, 245, 0.493);
                    font-size: 5rem;
                    text-align: center;
                    //animation: slideLeft 4s 3s ease-in-out;
                    
                }
                .msg-srv{
                    font-size: 3rem;
                }

                p{
                    color: white;
                    //text-shadow: 1px 1px 3px white;
                    //animation: slideRight 4s 3s ease-in-out;

                    
                    
                }
            }
            
            .wlc-msg{
                font-size: 5rem;
                align-self: center;
                text-align: center;
                text-shadow: 10px;
                background: linear-gradient(to top, aqua, grey, white);
                background-clip: text;
                -webkit-text-fill-color: transparent;
                animation: slideLeft 4s ease-in-out;
                margin: 0;
            }
        
            .msg-srv{
                margin: 0em 0em 0em 0em;
                font-size: 3rem;
                text-align: center;
                text-shadow: 10px;
                background: linear-gradient(to top, aqua, grey, white);
                background-clip: text;
                -webkit-text-fill-color: transparent;
                animation: slideLeft 4s ease-in-out;
            }
        
            .info{
                font-size: 2em;
                margin-left: 3em;
                color: whitesmoke;
                animation: slideRight 4s ease-in-out;
            }
    
            .ord{
                margin: 3em 0em 0em 0em;
                display: flex;
                flex-direction: column;
                gap: 0.3cm;
                align-self: center;
                justify-self: center;

    
                h3{
                    margin: 0em 0em 1em 0em;
                    font-size: 2em;
                    font-weight: 800;
                    font-style: italic;
                    font-family: Georgia, 'Times New Roman', Times, serif;
                    color: rgb(148, 252, 247);
                    text-align: center;
                }
    
                i{
                    color: white;
                    animation: bounce 2s ease-in-out infinite;
                    text-align: center;
                    
                    .fa {
                        height: 5px;
                    }
                }
                
                .orders {
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }
                    a{
                        background: linear-gradient(45deg, rgb(4, 252, 219), rgb(248, 246, 246), rgba(5, 29, 247, 0.986));
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        cursor: pointer;
                        background-position: 100% 0;
                        font-size: 1.5em;
                        text-align: center;
                        text-decoration: none;
                        padding: 1rem 0.5rem;
                        margin: 0em 0em 0em 0em;
                        font-weight: 800;
                        border: 2px solid transparent;
                        border-radius: 10px;
        
                        &:hover{
                            background: transparentize($color: blue, $amount: 0.6);
                            color: white;
                            &:active{
                                background: linear-gradient(to top, aqua, grey, white);
                            }
                        }
                    }
                
    
                }
            button{
                background: linear-gradient(45deg, rgba(151, 250, 253, 0.979), rgba(128, 128, 128, 0.5), rgba(255, 255, 255, 0.986));
                border: none;
                border-radius: 10px;
                padding: 0.5rem 1rem;
                margin: 0 0 0 20%;
                color: white;
                font-size: 50px;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-weight: 800;
                cursor: pointer;
                transition: background-position 2s ease;
                background-size: 350%;
                width: fit-content;
    
    
                &:hover{
                    background: linear-gradient(45deg, rgba(122, 252, 245, 0.7), rgba(221, 220, 220, 0.5), rgba(253, 252, 252, 0.3));
                    color: black;
                    cursor: pointer;
                    background-position: 100% 0;
                    &:active{
                            background: linear-gradient(to top, aqua, grey, white);
                    }
                }
            }
        
            .wlc-vid{
                display: none;
            
            }
        }
        
        .prods_servs_transactions{
            display: flex;
    
            .prods_servs{
                margin: 3cm 0em 0em 2em;
                width: 65%;
        
                .prod-intro{
                    text-align: center;
                    font-size: 1.5em;
                    font-weight: 500;
        
                    a{
                        font-size: 2em;
                        text-decoration: none;
                        color: blue;
                        font-style: italic;
                    }
                }

                .prods{
                    background-color: gainsboro;
                    margin-top: 2em;
                    display: flex;
                    gap: 1em;
                    width: 50%;
                    height: auto;
                    border-radius: 10px;
                    
                    img{
                        width: 90%;
                        height: inherit;
                    }

                    .prod_note{
                        display: none;

                        button{
                            background: linear-gradient(45deg, rgba(25, 255, 255, 0.986), rgba(255, 255, 255, 0.986));
                            border: none;
                            border-radius: 5px;
                            padding: 0.3rem 1em 0.3em 1em;
                            margin: 3em 0em 0.5em 0em;
                            color: white;
                            font-size: 1.5em;
                            font-family: Georgia, 'Times New Roman', Times, serif;
                            font-weight: 80;
                            cursor: pointer;
                        
                        }

                        [name="brand_search"]{
                            margin-top: 1em 0em 0em 0em;
                            padding: 1em 3em 1em .5em;
                            border-top-color: aquamarine;
                            border-left-color: aquamarine;
                            border-right: none;
                            border-bottom: none;
                            border-top-left-radius: 10px;
                            border-bottom-right-radius: 10px;
                            font-size: 0.8em;
                            color: black;
                            font-weight: 800;
                            font-style: italic;
                            font-size: 1em;
                        }                        
                    }
        
                    &:hover{
                        width: 75%;
                        z-index: 3;
                        //position: relative;
                        background-color: lightgray;
                        margin: 0em 0em 0em 0em;
                        padding: 2px;
                        background: linear-gradient(grey, white);

                        img{
                            transform: scale(0.7);
                            transition-duration: 1s;
                            width: 50%;
                            height: inherit;
                        }

                        .prod_note{
                            display: block;
                            transform: translateX(-8%);
                            transition: all 1.3s 1.3s ease-in-out;
                            margin-top: 1em;
                            font-size: 13px;
                            color: black;
                            font-weight: 700;
                            font-style: italic;
                            width: auto;
                            align-items: center;

                        }
                        
                    }
                }
            }
            
            .transactions{
                margin-top: 10cm;
                width: 35%;
    
                iframe{
                    height: 100%;
                    width: 90%;
                    margin: 0 0 0 0;

    
                }
            }
        }
        
    }
/* end: main styles*/

/* start: footer styles*/
    footer{
        margin: 2em 0em 0em 0em;
        padding: 3em 0em 0em 0em;
        background-size: cover;
        height: 80vh;
        width: 100%;
        color: white;
        justify-content: center;
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url("images/car3.png");
    
        
        .foot-vid{
            display: none;
            height: 100vh;
            width: 100%;
        }
        
        // &:hover{
        //     //background-image: none;
        //     .foot-vid{
        //         height: 100vh;
        //         width: 100%;
        //         z-index: -1;
        //         position: absolute;
        //         display: block;
        //     }
        // }
        
        
        .footer-infos{
            justify-content: center;
            //align-items: center;
            align-self: center;
            margin: 0em 0em 0em 0em;
            text-align: center;
            font-size: 1.3rem;
            font-weight: 500;
            display: flex;
            flex-direction: row;
            gap: 10%;
            
    
            .about{
                display: flex;
                flex-direction: column;
                gap: 1em;
                
                h2{
                    color: whitesmoke;
                    text-decoration: underline;
                }
    
                p{
                    color: aquamarine;
                }
                
                a{
                text-decoration: none;
                color: white;
                    i{
                        margin-right: 0;
                    }
                }
            }
            
    
            
            .other-servs{
                display: flex;
                flex-direction: column;
                gap: 1em;
                
                h2{
                    color: whitesmoke;
                    text-decoration: underline;
                }
                
                a{
                    text-decoration: none;
                color: white;
                i{
                    margin-right: 0;
                }
            }
        }
            .contacts{
                display: flex;
                flex-direction: column;
                gap: 1em;
                
                h2{
                    color: whitesmoke;
                    text-decoration: underline;
                }
                
                a{
                text-decoration: none;
                color: white;
                    i{
                        margin-right: 0;
                    }
                }
            }
            
        }
        
        .copyright{
            background: grey;
            font-size: 1em;
            color: black;
            text-align: center;            
        }
    }
/* end: footer styles*/

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}


@media only screen and (max-width: 1200px) {
    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    header {
        width: 100%;
        margin: 0em 0em 0em 0em;
        padding: 0em 0em 0em 0em;
        div {
            gap: 7px;
            nav {
                ul{
                    li{
                        padding: 3px 0;
                    }
                }
            }
        }
    }
    main {
        width: 100%;
        margin: 70px 0em 0em 0em;
        padding: 0em 0em 0em 0em;

        .wlc-sect {
            width: 100%;
            margin: 0em 0em 0em 0em;
            padding: 0em 0em 0em 0em;
        }

        .prods_servs_transactions {
            width: 100%;
            margin: 0em 0em 0em 0em;
            padding: 0em 0em 0em 0em;

            // .prods_servs {
            //     width: 100%;
            // }
        }
    }

    footer {
        width: 100%;
        margin: 2em 0em 0em 0em;
        padding: 0em 0em 0em 0em;
    }
    
}

@media only screen and (max-width: 1000px) {
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    header {
        width: 100%;
        margin: 0em 0em 0em 0em;
        padding: 0em 0em 0em 0em;
        div {
            display: flex;
            flex-direction: column;
            
            margin: 0em 0em 0em 0em;
            padding: 0em 0em 0em 0em;
            align-items: center;
            align-self: center;

            .logo {
                display: flex;
                flex-direction: column;
                gap: 0;
                justify-content: center;
                height: fit-content;

                img{
                    width: 20vw;
                    height: 20vh;
                }

                h1 {
                    padding: 0em 0em 0em 0em;
                    margin: 0em 0em 0em 0em;
                }
            }
            nav {
                ul{
                    li{
                        padding: 1px 0;

                        a{
                            font-size: 20px;
                        }
                    }
                }

                .search-container {
                    display: flex;
                    flex-direction: row;
                    gap: 2px;
                    align-items: center;
                    align-self: center;
                    justify-content: space-between;
                    padding: 0em 0em 0em 0em;
                }
            }
        }
    }
    main {
        width: 100%;
        margin: 50px 0em 0em 0em;
        padding: 0em 0em 0em 0em;

        .wlc-sect {
            width: 100%;
            margin: 0em 0em 0em 0em;
            padding: 0em 0em 0em 0em;

            h2 {
                font-size: 1rem;
                
            }
            .wlc-msg{
                margin: 0em 0em 0em 0em;
            }

            .ord {
                height: fit-content;

                h3{
                    font-size: 20px;

                }

                .orders {
                    a {
                        font-size: 15px;
                        padding: 0rem 0rem 0rem 0rem;
                    }
                }
            }
            button {
                width: fit-content;
                font-size: 20px;
            }
        }

        .prods_servs_transactions {
            width: 100%;
            margin: 0em 0em 0em 0em;
            padding: 0em 0em 0em 0em;
            
            .prods_servs {
                .prod-intro {
                    .prods {
                        p {
                            width: min-content;
                        }
                    }
                }
            }
        }
    }

    footer {
        width: 100%;
        margin: 2em 0em 0em 0em;
        padding: 0em 0em 3em 0em;
        height: fit-content;

        .footer-infos {
            font-size: 15px;
        }

        .copyright {
            color: black;
        }
    }

}

@media only screen and (max-width: 800px) {
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    header {
        width: 100%;
        margin: 0em 0em 0em 0em;
        padding: 0em 0em 0em 0em;
        div {
            gap: 7px;
            nav {
                ul{
                    margin: 0;
                    padding: 0;
                    li{
                        padding: 3px 0;
                    }
                }
            }
        }
    }
    main {
        width: 100%;
        margin: 70px 0em 0em 0em;
        padding: 0em 0em 0em 0em; 

        .wlc-sect {
            width: 100%;
            margin: 0em 0em 0em 0em;
            padding: 0em 0em 0em 0em;
            background-size: contain;
            
            &:hover {
                background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(images/car5.png) no-repeat center center;
                background-size: contain;
                .wlc-vid {
                    display: none;
                }
                .wlc-msg{
                    font-size: 3rem;
                }
                .msg-srv{
                    font-size: 2rem;
                }
            }

            .wlc-msg{
                font-size: 3rem;
            }
            .msg-srv{
                font-size: 2rem;
            }
        }

        .prods_servs_transactions {
            width: 100%;
            margin: 0em 0em 0em 0em;
            padding: 0em 0em 0em 0em;
            
            .prods_servs {
                .prods{
                    &:hover{
                        width: 90%;
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .nav-menu {
        width: 60%;
        position: absolute;
        z-index: 999;
        background: rgba(25, 255, 255, 0.6);
        height: 100vh;
        align-items: center;
        justify-content: center;
        left: -100%;
        border-radius: 0 10px 10px 0;
        display: none;
        flex-direction: column;
        transition: left 1s ease;

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 2em;
            justify-content: center;
            margin: 3em 0em 0em 0em;

            li {
                list-style-type: none;
                padding: 0.5em 0em 0.5em 0em;
                margin: 0em 0em 0em 0em;
                background: transparentize($color: white, $amount: 0.5);
                padding-left: 5px;
                border-radius: 10px 0 0 10px;
                text-align: center;

                &:hover {
                    box-shadow: -3px 3px 1px rgb(2, 49, 255);
                }

                a {
                    color: black;
                    text-decoration: none;
                    font-size: 20px;
                    font-weight: 800;
                }
            }

        }
        .menu-search-container {
            margin: 3em 0 0 0;
            padding: 5px 0;
            background: aqua;
            border-radius: 10px 0 0 10px ;

            input{
                border-radius: 10px 0px 0 10px;
                width: 70%;
                padding: 10px;
                border: none;
            }
        }

    }
    .nav-menu.slide-in-menu {
        left: 0;
        display: flex;
    }
    
    .nav-menu.slide-out-menu {
        left: -100%;
        display: none;
    }

    header {
        width: 100%;
        margin: 0em 0em 0em 0em;
        padding: 0em 0em 0em 0em;
        div {
            gap: 7px;
            nav {
                width: 100%;
                ul{
                    display: none;
                }
                .search-container {
                    width: 70%;
                }
            }
        }
        .toggle-nav-menu {
            display: flex;
            float: right;
            margin: -15em 2em 0em 0em;
            flex-direction: column;
            gap: 4px;
            width: fit-content;
            height: fit-content;
            background: transparent;
            border: none;
            cursor: pointer;
            z-index: 1000;

            span {
                background: #fff;
                width: 20px;
                height: 3px;
                transition: transform 0.3s, opacity 0.3s;
            }
        
            &:hover{
                color: black;
                cursor: pointer;
            }

            &.close #bar1 {
                transform: rotate(45deg) translate(5px, 5px);
            }
            &.close #bar2 {
                opacity: 0;
            }
            &.close #bar3 {
                transform: rotate(-45deg) translate(5px, -5px);
            }
    
            &.open #bar1 {
                transform: rotate(0);
            }
            &.open #bar2 {
                opacity: 1;
            }
            &.open #bar3 {
                transform: rotate(0);
            }
        }

        
    }
    main {
        width: 100%;
        margin: 40px 0em 0em 0em;
        padding: 0em 0em 0em 0em;

        .wlc-sect {
            width: 100%;
            margin: 0em 0em 0em 0em;
            padding: 3em 0em 0em 0em;
            
            .msg-srv {
                margin: 0em 0em 3em 0em;
            }
            .info {
                text-align: left;
                padding: 0em 0em 0em 3em;
                font-size: 1.5rem;
                margin: 0;
            }

            .ord {
                margin: 5em 0em 0em 0em;
            }
        }    

        .prods_servs_transactions {
            width: 100%;
            margin: 0em 0em 0em 0em;
            padding: 0em 0em 0em 0em;
            
            .prods_servs {
                width: 60%;
                margin: 0em 0em 0em 0em;
                .prods {
                    width: 60%;
                    height: auto;
                    &:hover{
                        height: auto;
                        width: 95%;
                        transition: all 1.5s ease-in-out;

                        img{
                            transform: scale(0.5);
                            transition: transform 1s ease-in-out;
                        }
                        .prod_note {
                            margin: 0em 0em 0em -3em;
                            padding: 0;
                            width: 95%;
                            transform: scale(0.5, 0.7);
                            transition: transform 1s 1s ease-in-out;
                        }
                    }
                }
            }

            .transactions {
                width: 38%;
                height: 90vh;
                margin: 7em 0em 0em 0em;

                iframe{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

}

@media only screen and (max-width: 480px) {
    body {
        margin: 0;
        padding: 0;
    }

    main {
        width: 100%;
        margin: 40px 0em 0em 0em;
        padding: 0em 0em 0em 0em;

        .wlc-sect {
            width: 100%;
            margin: 0em 0em 0em 0em;
            padding: 3em 0em 0em 0em;
            
            .msg-srv {
                margin: 0em 0em 1em 0em;
            }
            .info {
                text-align: left;
                padding: 0em 0em 0em 2em;
                font-size: 1.5rem;
                margin: 0;
            }

            .ord {
                margin: 3em 0em 0em 0em;
            }
        }    

        .prods_servs_transactions {
            width: 100%;
            margin: 0em 0em 0em 0em;
            padding: 0em 0em 0em 0em;
            
            .prods_servs {
                width: 60%;
                margin: 0em 0em 0em 0em;

                .prod-intro {
                    a{
                        font-size: 30px;
                    }
                }
                .prods {
                    width: 60%;
                    height: auto;
                    &:hover{
                        height: auto;
                        width: 95%;
                        transition: all 1.5s ease-in-out;

                        img{
                            transform: scale(0.5);
                            transition: transform 1s ease-in-out;
                        }
                        .prod_note {
                            margin: 0em 0em 0em -3em;
                            padding: 0;
                            width: 95%;
                            transform: scale(0.5, 0.7);
                            transition: transform 1s 1s ease-in-out;
                        }
                    }
                }
            }

            .transactions {
                width: 38%;
                height: 90vh;
                margin: 7em 0em 0em 0em;

                iframe{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

}

@media only screen and (max-width: 400px) {
    body {
        margin: 0;
        padding: 0;
    }

    main {
        .prods_servs_transactions {
            .prods_servs {
                .prods {
                    height: 10em;
                    width: 80%;

                    img {
                        width: 90%;
                    }

                    &:hover{
                        height: 10em;
                        .prod_note{
                            transform: translateX(-5%);
                            transition: transform 1s ease-in-out;
                            span{
                                display: none;
                            }

                            button{
                                font-size: 10px;
                                width: 90%;
                            }
                            input{
                                width: 100%;
                                height: 3vh;
                            }
                        }
                            
                    }
                }
            }
        }
    }

    footer {
        .footer-infos {
            font-size: 12px;
        }

        .copyright {
            font-size: 10px;
        }
    }

}

@media only screen and (max-width: 320px) {
    body {
        margin: 0;
        padding: 0;
    }

}